html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
}

body, html, #app, #app > div{
  height: 100%;
}

#mainPaper svg {
  .labels text {
    pointer-events: none;
    font: 10px sans-serif;
  }

  .links line {
    stroke-opacity: 0.7;

    &.selected {
      stroke: maroon !important;
    }
  }

  .nodes rect {
    cursor: pointer;
    stroke: white;
    stroke-width: 1px;

    &.is_copy {
      stroke: gray;
    }

    &.selected {
      stroke: red;
    }
  }
}
