html {
              font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
      margin: 0;
     padding: 0;
   min-width: 1000px;
    overflow: hidden;
    position: relative;
       width: 100%;
      height: 100%;
  background-color: #efefef;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#mainPaper svg {
  .labels text {
    pointer-events: none;
    font: 10px sans-serif;
  }

  .links line {
    stroke-opacity: 0.7;

    &.selected {
      stroke: maroon !important;
    }
  }

  .nodes rect {
    cursor: pointer;
    stroke: white;
    stroke-width: 1px;

    &.is_copy {
      stroke: gray;
    }

    &.selected {
      stroke: red;
    }
  }
}
